.repositories_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 16px;
  margin-top: 32px;
}

@media (max-width: 1200px) {
  .repositories_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .repositories_container {
    grid-template-columns: 1fr;
  }
}