.card {
  width: 100%;
  background-color: white;
  min-height: 180px;
  max-width: 100%;
  border-radius: 12px;
  transition: 0.3s;
  padding: 16px;
  color: #333;
}

.card:hover {
  cursor: pointer;
  background-color: #ffffffdd
}

.title_container {
  display: flex;
  align-items: center;
  width: "80%",
}

.repo_name {
  margin-left: 8px,
}

.repo_description {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .repo_name {
    margin-left: 8px;
    width: 180px;
  }

  .repo_description {
    margin-top: 12px;
    width: 200px;
  }
}